html, body{
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/Floresta-fundo-formularios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    height: 100vh;
    margin: 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    width: 22em;
    /* background-color: green; */
    padding: 50px;
    box-shadow: 2px 2px 9px 2px #6930c3;
}

.login{
    font-size: 2.5em;
    top: 30px;
    position: relative;
    margin: 0 auto;
    color: #03045e;
    
}

.n1, .s1, .e1{
    font-size: 1.2em;
    margin-top: 0.9em;
}

label, input{
    margin-top: 0.1em;
    /* background-color: red; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-bottom: 3px solid #7209b7;
}

label{
    color: black;
}

input::placeholder{
    color: white;
}

/* input ::placeholder{
    color: white;
} */

.botao{
    /* background-color: red; */
    display: flex;
    /* margin-top: 0.5em; */
    flex-direction: row;
    justify-content: space-between;
}

.botao a{
    color: #80ffdb;
}

.botao a:hover{
    color: #00f5d4;
}

.botao p {
    color: white;
    margin-top: 1.5em; 
}


.btn1{
    width: 30%;
    height: 35px;
    margin-top: 1.2em;
    background-color: #7b2cbf;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

